# Python
venv/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env

# Java / Maven
target/
*.class
*.jar
*.war
*.ear

# Eclipse / STS
.metadata/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache
.apt_generated

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
